.user {
  &__background {
    display: flex;
    justify-content: center;
    position: fixed;
    inset: 0;
    width: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 22;
    label {
      width: 140px;
      display: inline-block;
      //   width: 180px;
    }
    input {
      padding: 0;
      width: fit-content;
      overflow: auto;
      border: none;
      border-bottom: 1px solid transparent;

      &:focus {
        box-shadow: none;
      }
      &:not(:disabled){
        border-bottom: 1px solid ;
      }
    }
  }
  &__panel {
    width: 480px;
    padding: 30px;
    box-shadow: 0 0 60px;
    // height: 80%;
  }
}
